/* Imports */
@import url('lucide-static/font/lucide.css');
@import url('./app/styles/fonts.css');
@import url('./app/styles/theme.css');

/* Base styles */
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  transition:
    background-color 0.3s,
    color 0.3s;
  color: var(--text-color);
  font-family: 'Geist', sans-serif;
  font-size: 14px;
}

app-button-documentation,
app-select-documentation,
app-input-documentation,
app-switch-documentation,
app-label-documentation {
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;

  h1,
  h2,
  h3 {
    margin: 0;
  }

  h2 {
    margin-top: 1rem;
  }

  .table-wrapper {
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
    overflow: hidden;
    max-width: fit-content;

    table {
      border-collapse: collapse;
      overflow-x: auto;
      display: block;
    }
  }

  th,
  td {
    border-bottom: 1px solid var(--border-color);
    padding: 1rem;
    text-align: left;
    white-space: nowrap;
  }

  tr {
    &:last-child {
      th,
      td {
        border-bottom: none;
      }
    }
  }

  th {
    background-color: var(--bg-color);
  }

  code {
    font-family: 'Geist Mono', monospace;
    background-color: color-mix(in srgb, var(--bg-color), var(--text-color) 4%);
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    font-size: 90%;
  }

  .documentation-playground {
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
    padding: 3rem;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    gap: 1rem;
  }
}

.playground {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (width < 576px) {
    --mobile-height-posible: calc(100dvh - 4.1rem - 4.8rem - 2px);
  }

  @media (width >= 576px) {
    --mobile-height-posible: calc(100dvh - 4.1rem - 1px);
  }

  height: var(--mobile-height-posible);

  .top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: calc(var(--mobile-height-posible) * 0.4);
    gap: 1rem;

    .component {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  app-args {
    height: calc(var(--mobile-height-posible) * 0.6);
  }

  &.inverted {
    .top {
      height: calc(var(--mobile-height-posible) * 0.6);
    }

    app-args {
      height: calc(var(--mobile-height-posible) * 0.4);
    }
  }

  &.no-args {
    .top {
      height: var(--mobile-height-posible);
    }

    app-args {
      display: none;
    }
  }

  r-text,
  r-select,
  r-number,
  r-password,
  r-search,
  r-vertical-nav {
    min-width: 240px;
  }

  r-vertical-nav {
    height: auto;
  }
}
