/* You can add global styles to this file, and also import other style files */
@import url('../../../node_modules/@rem-ui/styles/src/index.css');

:root {
  --blue: #007bff;
  --white: #ffffff;
  --light-grey: #f8f9fa;
  --mid-grey: #dee2e6;
  --grey: #6c757d;

  /* rem-ui colors */
  --app-background: var(--white);
  --background: var(--white);
  --foreground: var(--grey);
  --border-color: var(--mid-grey);
  --primary: var(--blue);
  --primary-foreground: var(--white);
  --primary-border-color: var(--blue);
  --secondary: var(--light-grey);
  --secondary-foreground: var(--grey);
  --secondary-border-color: var(--mid-grey);
  --error: #f8d7da;
  --error-foreground: #721c24;
  --input-background: var(--white);
  --input-foreground: var(--grey);
  --roundness: 0.5rem;
  --button-padding-inline: 1rem;
}
