:host {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    overflow: hidden;
    position: relative;
    height: calc(100dvh - 3.8rem - 1px);

    @media (width < 576px) {
      flex-direction: column-reverse;
      justify-content: start;
    }

    .pages {
      width: 100%;
      overflow: auto;
      scrollbar-width: thin;
      scrollbar-color: var(--border-color, transparent) var(--bg-color, #ffffff);
      overflow-y: auto;

      @media (width < 576px) {
        height: calc(100dvh - 3.8rem - 3.8rem - 2px);
      }
    }
  }
}
