@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/GeistMono.ttf') format('truetype');
}
