/* Base colors */
:root {
  --black: #0a0a0a;
  --white: #ffffff;
  --radius: 0.5rem;
}

/* Light theme */
body[data-theme='light'] {
  /* Base theme colors */
  --bg-color: var(--white);
  --text-color: var(--black);

  /* UI colors */
  --background: var(--bg-color);
  --foreground: var(--black);
  --border-color: color-mix(in srgb, var(--bg-color), var(--black) 8%);

  /* Component colors */
  --primary: var(--black);
  --primary-foreground: var(--white);
  --primary-border-color: var(--black);

  --secondary: transparent;
  --secondary-foreground: var(--text-color);
  --secondary-border-color: var(--border-color);

  --input-background: color-mix(in srgb, var(--bg-color), var(--black) 1%);
  --input-foreground: var(--text-color);

  /* Error colors */
  --error-foreground: #c40000ab;
  --error: #fff0f0;
}

/* Dark theme */
body[data-theme='dark'] {
  /* Base theme colors */
  --bg-color: var(--black);
  --text-color: var(--white);

  /* UI colors */
  --background: color-mix(in srgb, var(--bg-color), var(--white) 1%);
  --foreground: var(--text-color);
  --border-color: color-mix(in srgb, var(--bg-color), var(--white) 10%);

  /* Component colors */
  --primary: var(--white);
  --primary-foreground: var(--black);
  --primary-border-color: var(--white);

  --secondary: transparent;
  --secondary-foreground: var(--text-color);
  --secondary-border-color: color-mix(
    in srgb,
    var(--bg-color),
    var(--white) 5%
  );

  --input-background: color-mix(in srgb, var(--bg-color), var(--white) 1%);
  --input-foreground: var(--text-color);

  /* Error colors */
  --error-foreground: #ff6b6b;
  --error: #382d2d;
}
