:host {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: color-mix(in srgb, var(--bg-color), transparent 60%);
  backdrop-filter: blur(10px);
  width: 100vw;
  box-sizing: border-box;

  .left {
    display: flex;
    align-items: center;
    gap: 1rem;

    .home-nav-link {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      cursor: pointer;

      span {
        font-weight: 600;
      }

      .logo-wrapper {
        overflow: hidden;
        border-radius: 0.5rem;
        box-sizing: border-box;

        .logo {
          width: 1.8rem;
          height: 1.8rem;
          background: var(--text-color);
          clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
        }
      }
    }
  }

  .left {
    i {
      font-size: 1.5rem;
    }
  }

  i {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1.6rem;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
