:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;

  .top {
    display: flex;
    flex-direction: column;

    h1 {
      margin-top: 0;
    }

    .playground {
      display: flex;
      border: 1px solid var(--border-color);
      padding: 4rem 2rem;
      border-radius: 0.5rem;
      justify-content: center;
    }
  }

  .controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media (width >= 576px) {
    flex-direction: row;

    .top {
      flex: 1;
      height: 100%;
    }

    .controls {
      flex: 1;
    }
  }
}
