:host {
  .configurator-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: thin;

    @media (width > 576px) {
      min-width: 350px;
    }

    @media (width > 576px) and (width < 992px) {
      padding-top: 0;
      max-height: calc(100% - 3.1rem);
    }

    @media (width > 992px) {
      border-left: 1px dashed var(--border-color);
      height: calc(100dvh - 4rem);
      position: sticky;
      top: 4rem;
    }

    h1,
    h2,
    h3 {
      margin: 0;
    }

    h3 {
      margin-top: 1rem;
    }

    .properties-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      label {
        border-radius: 0.5rem;
        aspect-ratio: 3 / 1;
        border: 1px solid var(--border-color);
        position: relative;
        cursor: pointer;

        input[type='color'] {
          opacity: 0;
          pointer-events: none;
          position: absolute;
          top: 0;
          height: 100%;
        }

        .property {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          white-space: nowrap;
          text-wrap: none;
          font-size: 0.8rem;
        }
      }
    }

    button {
      min-height: 2.8rem;
    }

    .example-themes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      .theme-preview {
        display: flex;
        height: 132.5px;
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.8rem;
      }
    }

    .custom-color-picker {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
    }

    input[type='color'] {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
  }
}
