:host {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  max-width: 400px;
  margin-inline: auto;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .npm-packages {
    font-size: 0.9rem;

    code {
      display: inline-block;
      padding: 0.5rem 1rem;
      margin: 0.25rem 0;
      background-color: color-mix(
        in srgb,
        var(--bg-color),
        var(--text-color) 5%
      );
      border: 1px solid var(--border-color);
      border-radius: 4px;
      font-family: 'Geist Mono', monospace;
      color: var(--text-color);
    }
  }
}
